= form_for @basket, html: { class: "form form-horizontal order" } do |f|
  .form-group
    = f.label :address, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :address, class: 'form-control', required: true
    = f.error_span(:address)
  .form-group
    = f.label :credit_card_number, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :credit_card_number, class: 'form-control', required: true
    = f.error_span(:credit_card_number)
  .form-group
    = f.label :email, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :email, class: 'form-control', required: true, value: current_user.email
    = f.error_span(:email)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit 'Checkout',class: 'btn btn-primary'
